html {
    font-family: "Noto Sans", Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

@keyframes slide-down {
    0% {
        transform: translateY(-400%);
    }
    5% {
        transform: translateY(-150%);
    }
    100% {
        transform: translateY(0);
    }
}

.layout-wrapper {
    margin: 15px 15%;
    color: hsl(0, 0%, 30%);
    font-size: 1.3em;
}

a, .pseudo-link {
    cursor: pointer;
    color: #46c284;
    text-decoration: none;
    transition: color 150ms;
}

a:hover {
    color: #528da1;
}

h1, h2, h3, h4 {
    margin: 0px;
}

section {
    padding: 15px 0;
}

hr {
    color: hsl(0, 0%, 90%);
}

.links-wrapper {
    animation: slide-down 600ms;
    height: auto;
    width: 160px;
    position: fixed;
    top: 3vh;
    bottom: 3vh;
    left: 0;
    padding: 35px;
    margin: 0 0 0 100px;
    border-right: 2px solid hsl(0, 0%, 80%);
    color: hsl(0, 0%, 95%);
}

.page-wrapper {
    text-align: center;
    margin: 0 0 0 160px;
    padding: 0 35px;
}

.page-wrapper .page-title {
    font-size: 3em;
    color: #46c284;
}

.page-wrapper .tech-section .tech-list-wrapper {
    display: flex;
    justify-content: center;
}

.page-wrapper .tech-section .tech-list {
    text-align: left;
    list-style-type: none;
}

.page-wrapper .tech-section .tech-list li {
    margin: 15px 0;
}

.devicon {
    font-size: 1.4em;
    padding: 5px;
}

.devicon-nodejs-plain {
    color: #3dad3d;
}

.devicon-go-plain {
    color: #3199c2;
}

.devicon-vuejs-plain {
    color: #42b883;
}

.devicon-webpack-plain {
    color: #5f90a3;
}

.devicon-mysql-plain {
    color: #da8057;
}

.devicon-redis-plain {
    color: #c24a4a;
}

.github-link span {
    display: block;
}

@media only screen and (max-width: 950px) {
    body {
        margin: 0 5px;
        font-size: 1.1em;
    }
    
    .layout-wrapper {
        flex-flow: column nowrap;
    }

    .page-wrapper {
        margin: 0;
    }

    .links-wrapper {
        border: none;
        background: none;
        height: unset;
        width: auto;
        position: static;
        margin: 15px 0 0 0;
        padding: 0;
        text-align: center;
    }

    .links-wrapper .link-image {
        width: 20px;
    }
}
